---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?api_key=<API-Token>&country=US&postalcode=95014
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 16 Dec 2024 00:15:36 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":339584626,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","boundingbox":["37.163028383029","37.483028383029","-122.18140749818","-121.86140749818"],"lat":"37.3230283830292","lon":"-122.0214074981752","display_name":"Cupertino,
        Santa Clara County, California, 95014, United States","class":"place","type":"postcode","importance":0.33499999999999996}]'
  recorded_at: Mon, 16 Dec 2024 00:15:36 GMT
recorded_with: VCR 6.3.1
