---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/204.48.26.195/json?token=<API-Token>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "204.48.26.195",
          "city": "North Bergen",
          "region": "New Jersey",
          "country": "US",
          "loc": "40.8043,-74.0121",
          "org": "AS14061 DigitalOcean, LLC",
          "postal": "07047",
          "timezone": "America/New_York"
        }
  recorded_at: Mon, 16 Dec 2024 00:15:35 GMT
recorded_with: VCR 6.3.1
