---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/not%20valid/json?token=<API-Token>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status": 404,
          "error": {
            "title": "Wrong ip",
            "message": "Please provide a valid IP address"
          }
        }
  recorded_at: Mon, 16 Dec 2024 00:15:35 GMT
recorded_with: VCR 6.3.1
