---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?api_key=<API-Token>&country=US&postalcode=49505
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 15 Dec 2024 20:35:13 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":339570299,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","boundingbox":["42.835888154545","43.155888154545","-85.803699018182","-85.483699018182"],"lat":"42.995888154545455","lon":"-85.6436990181818","display_name":"Grand
        Rapids, Kent County, Michigan, 49505, United States","class":"place","type":"postcode","importance":0.33499999999999996}]'
  recorded_at: Mon, 16 Dec 2024 00:17:08 GMT
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current=precipitation&latitude=42.995888154545455&longitude=-85.6436990181818&precipitation_unit=inch&temperature_unit=fahrenheit&wind_speed_unit=mph
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"latitude":43.00402,"longitude":-85.63282,"generationtime_ms":0.03802776336669922,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":231.0,"current_units":{"time":"iso8601","interval":"seconds","temperature_2m":"°F","relative_humidity_2m":"%","wind_gusts_10m":"mp/h","precipitation":"inch"},"current":{"time":"2024-12-16T00:15","interval":900,"temperature_2m":39.5,"relative_humidity_2m":96,"wind_gusts_10m":11.4,"precipitation":0.000}}'
  recorded_at: Mon, 16 Dec 2024 00:17:08 GMT
recorded_with: VCR 6.3.1
